#root {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;

  .plank-god {
    align-self: center;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .loading-spinner {
      width: 200px;
      height: 200px;
      align-self: center;
    }

    .start-button {
      width: 200px;
      align-self: center;
    }

    .countdown {
      align-self: center;
    }

    .counter {
      padding: 20px;
      display: flex;
      flex-direction: column;

      .counter-controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .counter-number-container {
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        justify-content: center;

        .counter-number {
          align-self: center;
        }
      }
    }
  }
}
