#root {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;

  .plank-god {
    align-self: center;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .time {
      align-self: center;
    }

    .loading-spinner {
      width: 200px;
      height: 200px;
      align-self: center;
    }

    .start-settings {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .next-plank-time {
        align-self: center;
      }

      .next-plank-time-controls {
        display: flex;
        flex-direction: row;
        justify-content: center;

        >div {
          transform: scale(0.8);
        }
      }

      .start-button {
        width: 200px;
        align-self: center;
      }
    }

    .countdown {
      align-self: center;
    }
  }
}
